// Media breakpoints
$breakpoint-tablet: 1024px;
$breakpoint-phone: 768px;

// Font size
$navbar: 3rem;

// Colors
$black: black;
$white: White;
$navbarHover: green;
$navbarBackground: rgb(225, 215, 183, 0.8);
$blue: #7C93C3;
$blueDarker: #55679C;
$blueDarkest: #1E2A5E;
$biege: #E1D7B7;
$pythonBG: #1f1f1f;
$pythonText: #dccd79;
