html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  border: 0;
  font: inherit;
  font-size: 100%;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
span,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

a {
  text-decoration: none;
  color: #000;
}

blockquote:before {
  content: "";
}

blockquote:after,
q:before,
q:after {
  content: "";
}

*::before,
*::after {
  content: "";
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  box-sizing: border-box;
}

.no-scroll {
  overflow: hidden;
}

body {
  scroll-behavior: smooth;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Arial", sans-serif;
}

html,
body {
  font-size: 62.5%;
}

.h1 {
  font-size: 7rem;
  font-weight: bold;
  color: White;
}

.img-wrap img {
  width: 100%;
}

.wrapper {
  max-width: 115rem;
  width: 100%;
  margin: 0 auto;
}

.burgerwrap {
  position: fixed;
  right: 30px;
  top: 30px;
  border: 1px solid White;
  width: 50px;
  height: 50px;
  cursor: pointer;
  z-index: 100;
}

.burger-animation {
  right: 46px;
  border: 1px solid black;
}
.burger-animation .burger-top {
  top: 10px;
  transform: rotate(360deg);
}
.burger-animation .burger-bottom {
  top: 19px;
  transform: rotate(180deg);
}
.burger-animation .burger-child {
  background-color: black;
}

.burger-top, .burger-bottom {
  position: relative;
  transition: top 0.5s ease, transform 0.5s ease;
}
.burger-top .burger-child-1, .burger-bottom .burger-child-1 {
  rotate: 45deg;
  left: 4px;
  top: 5px;
}
.burger-top .burger-child-2, .burger-bottom .burger-child-2 {
  rotate: -45deg;
  left: 5px;
  left: 19px;
}

.burger-top {
  top: 10px;
}
.burger-top .burger-child-1 {
  border-radius: 10px 0 10px 10px;
}
.burger-top .burger-child-2 {
  border-radius: 0px 10px 10px 10px;
}

.burger-bottom {
  top: 14px;
}
.burger-bottom .burger-child-1 {
  border-radius: 10px 0 10px 10px;
}
.burger-bottom .burger-child-2 {
  border-radius: 0px 10px 10px 10px;
}

.burger-child {
  width: 25px;
  height: 5px;
  background-color: White;
  position: relative;
}

.navigation-menu {
  position: fixed;
  top: -100vh;
  left: 0;
  transition: top 0.5s ease;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
  background-color: rgba(225, 215, 183, 0.8);
  filter: blur(10);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  z-index: 99;
}

.navigation-menu-animation {
  top: 0;
}

.navigation-item {
  font-size: 3rem;
  margin: 5px 0;
  padding: 5px 30px;
  position: relative;
  overflow: hidden;
}
.navigation-item::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: #1E2A5E;
  transition: all 0.1s ease;
  margin: 0 0 0 100%;
}
.navigation-item::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: #1E2A5E;
  transition: all 0.3s ease;
  margin: 0 0 0 -100%;
}

.navigation-item:hover::after {
  margin: 0;
}
.navigation-item:hover::before {
  margin: 0;
}

.section-hero {
  background-color: #7C93C3;
}
.section-hero .wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: column;
  padding: 15rem 0 30rem;
  position: relative;
}
.section-hero .top, .section-hero .middle, .section-hero .bottom {
  position: relative;
  left: 100vw;
  transition: all 1s ease;
  font-size: 10vw;
  padding: 0 0 0 20px;
  color: White;
}
.section-hero .middle {
  transition: all 1.2s ease;
  color: #1E2A5E;
  font-weight: bold;
}
.section-hero .bottom {
  transition: all 1.4s ease;
}
.section-hero .name {
  position: absolute;
  top: 50px;
  left: 20px;
  font-size: 2rem;
  border-bottom: 1px solid #1E2A5E;
  padding: 0 0 3px 0;
  color: White;
}

.section-hero-animate {
  left: 0 !important;
}

.section-tecnologies {
  padding: 10rem 0;
  background-color: #1E2A5E;
  color: White;
}
.section-tecnologies .list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  align-items: flex-start;
}
.section-tecnologies .item {
  margin: 20px 50px;
  font-size: 1.5rem;
  height: 140px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.section-tecnologies .img-wrap {
  width: 70px;
}
.section-tecnologies .text {
  text-align: center;
}

.section-about {
  background-color: #55679C;
  padding-bottom: 20rem;
}
.section-about .wrapper {
  position: relative;
  color: White;
}
.section-about .img-wrap {
  width: 60%;
  height: 30vh;
  background: url("../images/section-about.jpg") no-repeat bottom/cover;
  margin-left: auto;
  position: relative;
  top: -15vh;
  right: 10vw;
}
.section-about .top-text {
  font-size: 2rem;
  font-style: italic;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: column;
  position: absolute;
  top: 20%;
  left: 10%;
  background-color: #E1D7B7;
  padding: 29px 53px;
  color: black;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.section-about .text:last-child {
  align-self: flex-end;
}
.section-about .quotes {
  font-size: 4rem;
}
.section-about .quotes-first {
  position: relative;
  top: 9px;
  left: -20px;
}
.section-about .quotes-second {
  align-self: flex-end;
  position: relative;
  right: -10px;
}
.section-about .bottom-text {
  margin: 0 0 0 50%;
  font-size: 2rem;
  font-style: italic;
  padding-right: 30px;
  line-height: 1.2;
  display: block;
  position: relative;
  top: 10rem;
}
.section-about .bottom-text span:last-child {
  text-align: end;
}

.section-portfolio {
  background-color: #55679C;
  padding: 10rem 0 15rem;
}
.section-portfolio .subtitle, .section-portfolio .text, .section-portfolio .img-wrap {
  margin: 0 0 2rem;
}
.section-portfolio .list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  font-size: 1.5rem;
}
.section-portfolio .item {
  background-color: #E1D7B7;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: column;
}
.section-portfolio .item:nth-child(1) {
  grid-column: 1;
}
.section-portfolio .img-wrap {
  width: 100%;
}
.section-portfolio .subtitle {
  font-size: 2rem;
  font-weight: bold;
}
.section-portfolio .button {
  margin: 0 0 0 auto;
}
.section-portfolio .text {
  height: 100%;
}
.section-portfolio .gist .blob-code-inner {
  color: #dccd79;
}
.section-portfolio .gist .highlight {
  background-color: #1f1f1f;
}
.section-portfolio .gist span {
  display: block;
}
.section-portfolio .blob-num {
  border-right: 0.2rem solid #1E2A5E;
}

.raw-files .item {
  display: inline-block;
  position: fixed;
  top: 50%;
  left: 50%;
  width: 0;
  height: 0;
  overflow: hidden;
  transform: translate(-50%, -50%);
  transition: width 0.5s ease-in-out, height 0.5s ease-in-out;
  overflow: auto;
  padding: 0;
}
.raw-files .portfolio-active {
  width: 100%;
  height: 100%;
  padding: 2rem;
}
.raw-files .close-button {
  font-size: 5rem;
  position: absolute;
  right: 30px;
  top: 30px;
  color: #55679C;
  z-index: 5;
  border: 1px solid #55679C;
  padding: 5px 10px;
}
.raw-files .close-button:hover {
  cursor: pointer;
}
.raw-files .tableauPlaceholder {
  width: calc(100vw - 6rem) !important;
  display: flex !important;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.footer {
  background-color: #7C93C3;
  color: White;
  padding: 20px;
  text-align: center;
}
.footer .footer-text {
  margin-bottom: 10px;
  text-align: right;
  font-size: 0.8rem;
}
.footer .footer-links {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: column;
  gap: 10px;
}
.footer .footer-link {
  color: White;
  text-decoration: none;
  font-size: 14px;
}
.footer .footer-link:hover {
  text-decoration: underline;
  color: #1E2A5E;
}

.button {
  padding: 1.2rem 1.7rem;
  border: 1px solid #1E2A5E;
  border-radius: 0.5rem;
  font-size: 1.3rem;
  font-weight: bold;
  background-color: rgba(0, 0, 0, 0);
  transition: all 0.3s ease;
  position: relative;
}

.button:hover {
  cursor: pointer;
  background-color: #1E2A5E;
  color: White;
}

.button:active {
  top: 0.1rem;
}/*# sourceMappingURL=main.css.map */