.section-about {
    background-color: $blueDarker;
    padding-bottom: 20rem;
    .wrapper {
        position: relative;
        color: $white;
    }
    .img-wrap {
        width: 60%;
        height: 30vh;
        background: url('../images/section-about.jpg') no-repeat bottom / cover;
        margin-left: auto;
        position: relative;
        top: -15vh;
        right: 10vw;
    }
    .top-text {
        font-size: 2rem;
        font-style: italic;
        font-weight: bold;
        @include flex-column;
        position: absolute;
        top: 20%;
        left: 10%;
        background-color: $biege;
        padding: 29px 53px;
        color: $black;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
    }
    .text:last-child {
        align-self: flex-end;
    }
    .quotes {
        font-size: 4rem;      
    }
    .quotes-first {
        position: relative;
        top: 9px;
        left: -20px;
    }
    .quotes-second {
        align-self: flex-end;
        position: relative;
        right: -10px;
    }
    .bottom-text {
        margin: 0 0 0 50%;
        font-size: 2rem;
        font-style: italic;
        padding-right: 30px;
        line-height: 1.2;
        display: block;
        position: relative;
        top: 10rem;
        span:last-child {
            text-align: end;
        }
    }
}
