.section-hero {
    .wrapper {
        @include flex-column;
        padding: 15rem 0 30rem;
        position: relative;
    }
    .top, .middle, .bottom {
        position: relative;
        left: 100vw;
        transition: all 1s ease;
        font-size: 10vw;
        padding: 0 0 0 20px;
    }
    .middle {
        transition: all 1.2s ease;
        color: $highlight;
        font-weight: bold;
    }
    .bottom {
        transition: all 1.4s ease;
    }
    .name {
        position: absolute;
        top: 50px;
        left: 20px;
        font-size: 2rem;
        border-bottom: 1px solid $highlight;
        padding: 0 0 3px 0;
    }
}
.section-hero-animate {
    left: 0 !important;
}